body {
    background: #90c0f8;
    font: normal 15pt Arial;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #000000a1
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}